<nav class="navbar has-background-info">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src="../assets/logo.png" alt="QuickOCR: extract text from your images" width="auto" height="100%">
        </a>
        <!-- <div class="navbar-burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div> -->
    </div>

    <div class="navbar-start">
        <div class="navbar-item">
            <p class="subtitle has-text-white	">
                Extract text from your images
            </p>
        </div>
    </div>

    <div class="navbar-end">
        <div class="navbar-item">
            <div class="field is-grouped">
                <p class="control">
                    <a class="button is-info is-inverted" target="_blank" href="/">
                        <span class="icon">
                            <i class="fa-solid fa-book"></i>
                        </span>
                        <span>
                            Help
                        </span>
                    </a>
                </p>

                <p class="control">
                    <a class="button is-info is-inverted" target="_blank" href="/">
                        <span class="icon">
                            <i class="fa-solid fa-circle-info"></i>
                        </span>
                        <span>
                            About
                        </span>
                    </a>
                </p>

                <span class="control">
                    <a class="button is-dark" href="https://github.com/TatsuHiyuu">
                        <span class="icon">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>Github</span>
                    </a>
                </span>
            </div>
        </div>
    </div>
</nav>