<nav class="navbar has-background-dark is-justify-content-center">
    <div class="navbar-item">
        <div class="field is-grouped">
            <p class="control">
                <app-language-selector (languageSelected)="onLanguageSelected($event)"></app-language-selector>
            </p>

            <p class="control">
                <label class="file-label">
                    <input #fileSelector class="file-input is-info is-inverted" type="file" accept="image/*"
                        capture="environment" name="resume" (change)="uploadFile($event)" (click)="clear()">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fa-solid fa-file-import"></i>
                        </span>
                        <span class="file-label">
                            Import
                        </span>
                    </span>
                </label>
            </p>

            <p *ngIf="isCameraAvailable" class="control">
                <label class="file-label">
                    <input #fileSelector class="file-input is-info is-inverted" type="file" accept="image/*"
                        name="resume" (change)="uploadFile($event)" (click)="clear()">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fa-solid fa-camera"></i>
                        </span>
                        <span class="file-label">
                            Camera
                        </span>
                    </span>
                </label>
            </p>
        </div>
    </div>
    <div class="navbar-item is-hidden-desktop">
        <div class="field is-grouped">
            <p class="control is-flex is-justify-content-center has-icons-left pasta">
                <input class="input" placeholder="Paste anything here..." maxlength="0" />
                <span class="icon is-small is-left">
                    <i class="fa fa-paste"></i>
                </span>
            </p>
        </div>
    </div>
</nav>