<div class="container has-text-centered">
    <p class="title">Let's get started</p>
    <p class="subtitle">Choose a language, then choose or paste an image to extract its text</p>

    <div class="columns is-vcentered">
        <div class="column">
            <app-language-selector (languageSelected)="onLanguageSelected($event)"></app-language-selector>
        </div>

        <div class="column">
            <div class="file is-boxed is-justify-content-center p-4">
                <label class="file-label">
                    <input #fileSelector class="file-input" type="file" accept="image/*" name="resume"
                        (change)="uploadFile($event)" (click)="clear()">
                    <span class="file-cta">
                        <span class="file-icon">
                            <i class="fa-solid fa-file-import"></i>
                        </span>
                        <span class="file-label">
                            Choose a file…
                        </span>
                    </span>
                </label>
            </div>
        </div>

        <!-- <div class="column control is-hidden-desktop">
            <p class="has-icons-left">
                <input class="is-boxed is-justify-content-center p-4 has-text-centered" type="text"
                    placeholder="Paste anything here" />
                <span class="icon is-small is-left">
                    <i class="fa fa-paste"></i>
                </span>
            </p>
        </div> -->
        <div class="column is-hidden-desktop is-flex is-justify-content-center">
            <div class="control has-icons-left pasta">
                <input class="input" placeholder="Paste anything here..." maxlength="0" />
                <span class="icon is-small is-left">
                    <i class="fa fa-paste"></i>
                </span>
            </div>
        </div>
    </div>
</div>