<header class="hero-head">
    <app-top-navbar></app-top-navbar>
</header>

<body class="has-background-light">
    <app-quick-ocr></app-quick-ocr>
</body>

<footer class="footer has-background-dark has-text-light">
    <div class="content has-text-centered">
        <p>
            <strong class="has-text-light">QuickOCR</strong> by <a href="https://github.com/TatsuHiyuu">TatsuHiyuu</a>
        </p>

        <div class="tags has-addons is-flex is-justify-content-center">
            <a href="https://angular.io/" target="_blank">

                <span class="tag">Made with</span>
                <span class="tag is-danger">Angular</span>
            </a>
        </div>

        <div class="tags has-addons is-flex is-justify-content-center">
            <a href="https://bulma.io//" target="_blank">

                <span class="tag">Prettified by</span>
                <span class="tag is-primary">Bulma</span>
            </a>
        </div>

        <div class="tags has-addons is-flex is-justify-content-center">
            <a href="https://github.com/naptha/tesseract.js" target="_blank">

                <span class="tag">Powered by</span>
                <span class="tag is-warning">Tesseract</span>
            </a>
        </div>
    </div>
</footer>