<section class="hero is-info">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item">
                        <!-- Logo -->
                    </a>
                    <span class="navbar-burger" data-target="navbarMenuHeroB">
                        <span>
                        </span>
                        <span>
                        </span>
                    </span>
                </div>
                <div id="navbarMenuHeroB" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item">
                            Documentation
                        </a>
                        <span class="navbar-item">
                            <a class="button is-info is-inverted">
                                <span class="icon">
                                    <i class="fab fa-github"></i>
                                </span>
                                <span>Download</span>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            <p class="title">
                Quick OCR
            </p>
            <p class="subtitle">
                Extract text from your images
            </p>
        </div>
    </div>
</section>

<body class="has-background-light">
    <app-quick-ocr></app-quick-ocr>
</body>

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>Quick OCR</strong> by <a href="https://jgthms.com">RY-ADO</a>
        </p>
    </div>
</footer>